* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  background: rgb(207, 207, 255) !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div.wrapper {
  max-width: 35em;
  width: 100%;
  background: #f5f5f5;
  padding: 2rem 1rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.073);
  border-radius: 1rem;
  margin: 0 1em;
}

.wrapper .upload-box {
  border: 0.25em dashed #b5cef2;
  background: #fff;
  padding: 0.5em 1em;
  max-width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 1em;
  cursor: pointer;
  height: 280px;
  position: relative;
  overflow: hidden;
}
 
.upload-box img {
    width: 30%;
} 

.upload-box .animation{
  position: absolute;
}

.upload-box span{
  position: absolute;
  left: 30px;
  font-weight: bold;
  font-size: 20px;
  animation: span 3s forwards;
}

@keyframes span{
  0%{
    transform: scale(0.5);
  }
  100%{
  transform: scale(1);  
  }
}

.upload-box #Cloud{
  animation: cloud 3s forwards;
  top: 20px;
  width: 80px;
}

@keyframes cloud{
  0%{
     right: -200px;
  }
  100%{
    right: 0;
  }
}

.upload-box #Sun{
  width: 80px;
  animation: sun 3s forwards;
}

@keyframes sun{
  0%{
     left: -100px;
     top: -100px;
     transform: rotate(0) scale(0);
  }
  100%{
    left: 280px;
    top: 10px;
    transform: rotate(360deg) scale(1) ;
  }
}

.upload-box #Mountain{
   width: 40%;
   bottom: -20px;
   right: -5px;
   animation: mountain 3s forwards;
}

@keyframes mountain{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.wrapper .content {
  margin-top: 2rem;
}

.form-group {
  position: relative;
  display: flex;
}

.form-group input {
  width: 80%;
  border-radius: 0.375rem 0 0 0.375rem;
}

.form-group .unit {
  width: 20%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ced4da;
  border-radius: 0 0.375rem 0.375rem 0;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  text-align: center;
}

.clear {
  background: #cfcfff;
  color: #0c6efb;
  border: none;
}
